pom.xml
pom.xml.asc
*jar
lib
classes
test/midje/scratch
.cake
*#*
*~
semantic.cache
.lein-failures
*.iml
.idea/
.lein-deps-sum
.lein-repl-history
target
tmp/
checkouts/
report.xml
.nrepl-port
/checkouts/
pom.xml.asc
