{:hooks {:analyze-call {midje.sweet/tabular marick.midje/tabular}}
 :linters {:unresolved-symbol {:exclude [anything
                                         contains
                                         irrelevant
                                         =>
                                         =not=>
                                         =deny=>
                                         =expands-to=>
                                         =future=>
                                         =contains=>
                                         =streams=>
                                         =throws=>
                                         =test=>
                                         =throw-parse-exception=>]}}}
