{:hooks {:analyze-call {midje.sweet/tabular marick.midje/tabular}}
 :lint-as {midje.checking.checkers.defining/defchecker clojure.core/defn}
 :linters {:unresolved-symbol {:exclude [(midje.sweet/fact
                                          [throws
                                           contains
                                           as-checker
                                           exactly
                                           has
                                           has-sufix
                                           has-prefix
                                           just
                                           one-of
                                           two-of
                                           roughly
                                           truthy
                                           falsey
                                           irrelevant
                                           anything
                                           =>
                                           =not=>
                                           =deny=>
                                           =expands-to=>
                                           =future=>
                                           =contains=>
                                           =streams=>
                                           =throws=>
                                           =test=>
                                           =throw-parse-exception=>])
                                         (midje.sweet/facts
                                          [throws
                                           contains
                                           exactly
                                           has
                                           has-sufix
                                           has-prefix
                                           just
                                           one-of
                                           two-of
                                           roughly
                                           as-checker
                                           truthy
                                           falsey
                                           irrelevant
                                           anything
                                           =>
                                           =not=>
                                           =deny=>
                                           =expands-to=>
                                           =future=>
                                           =contains=>
                                           =streams=>
                                           =throws=>
                                           =test=>
                                           =throw-parse-exception=>])
                                         (midje.sweet/tabular
                                          [throws
                                           contains
                                           exactly
                                           has
                                           has-sufix
                                           has-prefix
                                           just
                                           one-of
                                           two-of
                                           roughly
                                           as-checker
                                           truthy
                                           falsey
                                           irrelevant
                                           anything
                                           =>
                                           =not=>
                                           =deny=>
                                           =expands-to=>
                                           =future=>
                                           =contains=>
                                           =streams=>
                                           =throws=>
                                           =test=>
                                           =throw-parse-exception=>])]}}}
